name: Simple CI

on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install and test
        run: |
          echo "Здесь устанавливаем зависимости"
          echo "Здесь запускаем тесты"
          echo "Всё работает!"
